@import "elr-scss-functions/src/main";

@mixin elr-article($config: ()) {
  $config: extend(
    (
      color: #333,
      font-family: "Roboto",
      heading-font: "Roboto",
    ),
    $config
  );

  $color: map-get($config, color);
}
